/* Coolors Exported Palette - https://coolors.co/8693ab-bdd4e7-212227-637074-aab9cf */

/* CSS HEX */
--cool-gray: #8693abff;
--columbia-blue: #bdd4e7ff;
--raisin-black: #212227ff;
--dim-gray: #637074ff;
--powder-blue: #aab9cfff;

/* CSS HSL */
--cool-gray: hsla(219, 18%, 60%, 1);
--columbia-blue: hsla(207, 47%, 82%, 1);
--raisin-black: hsla(230, 8%, 14%, 1);
--dim-gray: hsla(194, 8%, 42%, 1);
--powder-blue: hsla(216, 28%, 74%, 1);

/* SCSS HEX */
$cool-gray: #8693abff;
$columbia-blue: #bdd4e7ff;
$raisin-black: #212227ff;
$dim-gray: #637074ff;
$powder-blue: #aab9cfff;

/* SCSS HSL */
$cool-gray: hsla(219, 18%, 60%, 1);
$columbia-blue: hsla(207, 47%, 82%, 1);
$raisin-black: hsla(230, 8%, 14%, 1);
$dim-gray: hsla(194, 8%, 42%, 1);
$powder-blue: hsla(216, 28%, 74%, 1);

/* SCSS RGB */
$cool-gray: rgba(134, 147, 171, 1);
$columbia-blue: rgba(189, 212, 231, 1);
$raisin-black: rgba(33, 34, 39, 1);
$dim-gray: rgba(99, 112, 116, 1);
$powder-blue: rgba(170, 185, 207, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-right: linear-gradient(90deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-bottom: linear-gradient(180deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-left: linear-gradient(270deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-top-right: linear-gradient(45deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-bottom-right: linear-gradient(135deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-top-left: linear-gradient(225deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-bottom-left: linear-gradient(315deg, #8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);
$gradient-radial: radial-gradient(#8693abff, #bdd4e7ff, #212227ff, #637074ff, #aab9cfff);