.avatarMain{
    position: relative;
    /* background-color: #396D7F; */
    border: 7px solid white;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    box-shadow: 0px 2.38px 2.38px rgba(0, 0, 0, 0.25);
}

.avatarMain > span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

