@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.navbarHeader{
    background-color: rgba(23, 69, 83, 0.8);
    height: 10vh;
    position: relative;
}
.appName{
    color: white;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1rem;
}
.appName:hover:active{
    color: black;
}

.profileAvatar{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: 1rem;
}
.navbarToolBar{
    position: absolute;
    right: 0;
    /* top: 50%;
    transform: translate(-50%, 0);
    */
} 